/*Selector{
	Property: value;
}*/

body {
	background-image: url(https://i.ibb.co/TwsLX1X/clay-banks-1-Uj0-Hmq-QFGk-unsplash.jpg);">
	background-repeat: no-repeat;
	background-size: cover;
}
h2 {
	color: black;
	text-align: center;
	border: 3px solid black;
}

div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}