/*Selector{
	Property: value;
}*/

body {
	background-color:#FF2348;
}

header {

	background-color:#FF2348;

}

/* footer {
	background-color: red;
} */


h2 {
	color: black;
	text-align: center;
	border: 3px solid black;
}

div {
  text-align: center;
} 

